services:
  nginx:
    build: ./nginx/
    container_name: nginx-container
    ports:
    - 80:80
    links:
    - php
    volumes:
    - ./www/html/:/var/www/html/
  php:
    image: php:7.0-fpm
    container_name: php-container
    expose:
      - 9000:9000
    volumes: 
      - ./www/html/:/var/www/html/
  app-data:    
    image: php:7.0-fpm  
    container_name: app-data-container  
    volumes:  
      - ./www/html/:/var/www/html/  
    command: "true"
  mysql:    
    image: mysql:5.7  
    container_name: mysql-container  
    volumes_from:  
      - mysql-data  
    environment:   
      MYSQL_DATABASE: data  
      MYSQL_USER: data   
      MYSQL_ROOT_PASSWORD_FILE: /run/secrets/db_root_password
    secrets:
      - db_root_password

  mysql-data:    
    image: mysql:5.7  
    container_name: mysql-data-container  
    volumes:  
      - /var/lib/mysql  
    command: "true" 

secrets:
  db_root_password:
    file: ./secrets/db_root_password.txt
  # nginx:
  #   image: nginx:latest
  #   container_name: nginx-container
  #   ports:
  #     - 80:80
  #     - 443:443

      
      